@import "tailwindcss";

:root {
  --primary: 262 83% 58%; 
  --secondary: 221 83% 58%; 
}

html{
  scroll-behavior: smooth;
}

body {
    background-color: hsl(240 20% 99%);
    color: hsl(240 10% 15%);
    scroll-behavior: smooth;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, hsl(var(--primary)), hsl(var(--secondary)));
}

.from-primary {
  background-image: linear-gradient(to right, hsl(var(--primary)), transparent);
}

.to-primary {
  background-image: linear-gradient(to right, transparent, hsl(var(--primary)));
}

.via-secondary {
  background-image: linear-gradient(to right, hsl(var(--primary)), hsl(var(--secondary)), hsl(var(--primary)));
}

.to-secondary {
  background-image: linear-gradient(to right, transparent, hsl(var(--secondary)));
}

.border-border {
    border-color: hsl(240 20% 92%);
}


input:focus-visible{
  outline-offset: 2px;
  outline: hsl(var(--primary)) solid 2px;
}

textarea:focus-visible{
  outline-offset: 2px;
  outline: hsl(var(--primary)) solid 2px;
}

.border-input {
  border-color: #f0f0f5;
}

.bg-input{
  background-color: #f0f0f5;
}

.bg-light {
  background-color: #fcfcfd;
}

.text-primary {
  color: hsl(var(--primary));
}

.group:hover .group-hover\:text-primary {
    color: hsl(var(--primary));
}